<%- include("header") -%>

<div class="box" id="heading">
  <h1><%= listTitle %></h1>
</div>

<div class="box">
  <% newListItems.forEach(item=> { %>
  <form action="/delete" method="post">
    <div class="item">
      <input type="hidden" name="listName" value="<%= listTitle %>" />
      <input
        type="checkbox"
        name="checkbox"
        value="<%= item.id %>"
        onchange="this.form.submit()"
      />
      <p><%= item.name %></p>
    </div>
  </form>
  <% }); %>

  <form class="item" action="/" method="post">
    <input
      type="text"
      name="newItem"
      placeholder="New Item"
      autocomplete="off"
      required
    />
    <button type="submit" name="list" value="<%= listTitle %>">+</button>
  </form>
</div>
<P class="help">Add /Your New listname on the url to create a new Todo List</P>
<%- include("footer") -%>
